/* Global Styles */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #b5f1af;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #28a745;
}

h2 {
  margin-bottom: 10px;
  color: #333333;
}

.img-fluid {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
  color: #333333;
}

.card-text {
  color: #777777;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #28a745;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.btn-primary {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #218838;
}

.custom-card {
  background-color: #d9f4d6;
  text-align: center;
  padding: 15px;
}

.custom-img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-ingredients-section {
  background-color: #d9f4d6;
  padding: 10px;
  border-radius: 5px;
}

.custom-ingredients-section h5 {
  margin-bottom: 5px;
  color: #333333;
}

.custom-ingredients-section p {
  color: #777777;
}
